<section id="galeria" class="menu section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <p>explora <span>Nuestra Galeria</span></p>
    </div>
    <ul
      class="nav nav-tabs d-flex justify-content-center"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <li class="nav-item" *ngFor="let c of recomendados; let i = index">
        <button type="button" class="btnCategoria">
          {{ c.name }}
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- End Gallery Section -->
