<!-- ======= Breadcrumbs ======= -->
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        
        <ol>
          <li><a href="index.html">Bibliteca</a></li>
          <li>Libro</li>
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

      <section class="chefs" style=" padding-top: 5px;">
        <div class="container" data-aos="fade-up">

          <div class="row gy-4">
            <div
              class="col-lg-3 col-md-6  "
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="chef-member brd">
                <div class="member-img">
                  <img
                    src="{{ libro.cover }}"
                    class="img-fluid"
                    alt=""
                    style="width: 100%; height: auto; min-width: 300px"
                  />
                </div>
                <div class="member-info">
                  <div class="star-rating" style="font-size: 40px">
                    <a href="#">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a>
                  </div>
                  <div class="rating-system-wrapper no-js-hidden">
                    Puntuación: 8.57 | 14 votos
                  </div>
                </div>
              </div>
            </div>
            <!-- End Chefs Member -->

            <div class="col-lg-9 col-md-12 d-flex" data-aos-delay="0">
              <div
              class="detalleslibro"

              >
                <div class="member-info ">
                  <h4 style="align-content: start">{{ libro.title }}</h4>
                  <span style="color: var(--color-primary)">{{ libro.author }}</span>

                  <h4 class="detalleswe">Detalles de libro</h4>

                  <div class="book_details">
                    <meta itemprop="inLanguage" content="en-US" />
                    <table class="tableLibro">
                      <tbody>
                        <tr>
                          <td > Año:</td>
                          <td itemprop="copyrightYear">2008</td>
                        </tr>
                        <tr>
                          <td>Editor:</td>
                          <td
                            itemprop="publisher"
                            itemtype="http://schema.org/Organization"
                            itemscope=""
                          >
                            <span itemprop="name">Tachyon Publications</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Páginas:</td>
                          <td itemprop="numberOfPages">240 páginas</td>
                        </tr>
                        <tr>
                          <td>Idioma:</td>
                          <td>inglés</td>
                        </tr>
                        <tr>
                          <td>Desde:</td>
                          <td>06/02/2019</td>
                        </tr>
                        <tr>
                          <td>Tamaño:</td>
                          <td>4.11 MB</td>
                        </tr>
                        <tr>
                          <td>Licencia:</td>
                          <td>CC-BY-NC-SA</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <h4 class="detalleswe">Contenido</h4>
                  <p class="contenidoLibro">
                    {{ libro.content_short }}
                  </p>
                  <h4 class="detalleswe">Categorias</h4>
                  <ul
                    data-aos="fade-up"
                    data-aos-delay="200"
                    class="nav d-flex justify-content-left aos-init aos-animate"
                  >
                    <li class="nav-item" *ngFor="let j of libro.categories">
                      <button type="button" class="tags">
                        {{ j.name }}
                      </button>
                    </li>
                  </ul>
                  <h4 class="detalleswe">Etiquetas</h4>
                  <ul
                    data-aos="fade-up"
                    data-aos-delay="200"
                    class="nav d-flex justify-content-left aos-init aos-animate"
                  >
                    <li class="nav-item" *ngFor="let i of libro.tags">
                      <button type="button" class="tags">
                        {{ i.name }}
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Chefs Member -->

            <!-- End Chefs Member -->
          </div>
        </div>
      </section>


  <!-- End Breadcrumbs -->

  <app-recomendaciones></app-recomendaciones>
</main>
<!-- End #main -->
