<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="hero d-flex align-items-center section-bg"
  style="min-height: 100vh"
>
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start"
      >
        <h2 data-aos="fade-up">Los Libros son<br />El alimento del alma</h2>
        <p data-aos="fade-up" data-aos-delay="100">
          Encuentra maravillosos ejemplares en nuestra Biblioteca Libre online
        </p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#populares" class="btn-book-a-table">Galeria</a>
          <a
            href="https://www.youtube.com/watch?v=beqbhd7q5Xw"
            class="glightbox btn-watch-video d-flex align-items-center"
            ><i class="bi bi-play-circle"></i><span> Ver video</span></a
          >
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img
          src="assets/img/menu/inicio3.png"
          style="max-width: 85%"
          class="img-fluid"
          alt=""
          data-aos="zoom-out"
          data-aos-delay="300"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<main id="main">
  <app-estadisticas></app-estadisticas>
  <app-populares></app-populares>
  <app-galeria></app-galeria>
  <app-autores></app-autores>
</main>
<!-- End #main -->
