<!-- ======= Testimonials Section ======= -->
<section id="autores" class="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Testimonials</h2>
      <p>What Are They <span>Saying About Us</span></p>
    </div>

    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of escritores" >
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    {{item.descripcion}}
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>{{item.nombre}}</h3>
                  <h4>{{item.profesion}}</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 text-center">
                <img
                  src={{item.foto}}
                  class="img-fluid testimonial-img"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
